
<ng-person picture="/assets/demo.jpg" name="Akop Kesheshyan"></ng-person>
<br>
<ng-person name="Akop Kesheshyan" showName="false"></ng-person>
<br>
<ng-person size="small" name="Akop" round="true"></ng-person>
<br>
<ng-person name="Akop" round="true"></ng-person>
<br>
<ng-person size="large" name="Akop" round="true"></ng-person>
<br>
<ng-person size="giant" name="Akop" round="true"></ng-person>
<br>

<ng-person size="small" name="Akop Kesheshyan" title="Web developer"></ng-person>
<br>

<ng-person name="Akop Kesheshyan" title="Web developer"></ng-person>
<br>

<ng-person size="large" name="Akop Kesheshyan" title="Web developer"></ng-person>
<br>

<ng-person size="giant"  name="Akop Kesheshyan" title="Web developer"></ng-person>
<br>
<ng-person  picture="/assets/demo.jpg" round="true" size="giant"  name="Akop Kesheshyan" title="Web developer"></ng-person>
<br>